
html{
    font-family: Arial, Helvetica, sans-serif;
}


.container {

    width: 60%;
    margin:auto;
}



header {

    background-color: brown;
}

main {background-color: blue;}

footer {

    background-color: aqua;
}